.calender{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows:2em repeat(5, 1fr);
  grid-gap: 1em;
} 
.date{
  background-color: #7FFFD4;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border-radius: 10px;
  
}
.day{
  background-color: #00FFFF;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 10px;
  
}
.title{
  align-items: center;
  justify-content: center;
  text-align: center;
}